*.pyc
__pycache__/
doc/
vita_doc/
vita_example_files/
tests/_artifacts/
.vscode/
.pytest_cache/
src/vita49io.egg-info/
dist/
*.v49
*.vita
*.vita49
*.pcap
.env
*.sigmf-data
*.sigmf-meta
artifacts/
*.prof